.contenedor {

    .category {
        margin-top: 12rem;
        display: flex;
        justify-content: start;
    }

    .posts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }

    button {
        padding: 0.2rem;
        padding-top: 0.4rem;
        width: 14rem;
        font-size: 1.45rem;
        font-family: 'Roboto';
        font-weight: 500;
        background: linear-gradient(to bottom, rgb(74, 74, 74), rgb(42, 42, 42));
        color: white;
        text-align: center;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }

    .card {
        width: 38rem;
        height: 46rem;
        margin: 3rem 1.5rem 3rem 1.5rem;
        display: flex;
        justify-content: start;
        background-color: #414141;
        border-radius: 3rem;



        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title h3 {
                color: black;
                font-weight: 600;
            }

            .detail p {
                color: black;
                font-size: 1.5rem;
                margin-top: 1rem;
            }


        }

        .button {
            display: flex;
            justify-content: center;
            height: 4rem;
        }

        button {
            padding: 0.2rem;
            padding-top: 0.3rem;
            width: 10rem;
            font-size: 1.45rem;
            font-family: 'Roboto';
            font-weight: 500;
            background-color: #C6A656;
            color: rgb(0, 0, 0);
            text-align: center;
            margin-left: 0.7rem;
            margin-right: 0.7rem;
        }
    }

    .card:hover {
        transform: scale(1.02);
    }
}