#contacto {
    scroll-margin-top: 10em;
}

.contacto {

    h2 {
        color: rgba(219, 187, 107, 1);
        margin-top: 15rem;
    }

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        input,
        .textArea {
            background-color: black;
            border: 1px solid #DBBB6B;
            width: 90rem;
            height: 4.8rem;
            font-size: 1.8rem;
            margin-top: 1.5rem;
            color: #DBBB6B;
            text-align: center;
        }

        input::placeholder {
            color: #DBBB6B;
            text-align: center;
        }

        .textArea {
            height: 28rem;
            margin-bottom: 1rem;
            padding: 1.5rem;
        }

        .textArea::placeholder {
            color: #DBBB6B;
            text-align: center;
        }


        button {
            color: black;
            font-size: 1.3rem;
            font-family: 'Roboto';
            font-weight: 500;
            text-align: center;
            margin-top: 2rem;
            background: linear-gradient(rgba(198, 166, 86, 0.93),
                    rgba(252, 225, 164, 1),
                    rgba(198, 166, 86, 0.93));

            padding-top: 0.4rem;
            padding-bottom: 0.5rem;
            width: 12rem;

        }

        h3 {
            margin-top: 3rem;
        }

        .whatsapp {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            margin-top: 3rem;

            img {
                margin-right: 1.5rem;
            }

            h4 {
                color: #DBBB6B;
            }
        }
    }
}