footer {
    height: 10rem;
    margin-top: 3rem;
    padding: 1rem;
    background: linear-gradient(to bottom, rgb(59, 59, 59), rgb(0, 0, 0));

    .row {
        display: flex;
        justify-content: center;
    }

    h5 {
        color: white;
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1.7rem;
        font-weight: 400;
    }

    li {
        width: 8rem;
        font-size: 1.3rem;

        .nav-link {
            color: white;
        }

        a {
            color: white;
            text-align: center;

        }
    }

    .col-6 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 1rem;
    }

    .redesFooter {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-top: 1rem;

        img {
            margin-right: 1rem;
            margin-left: 1rem;
        }


    }

    .copyCode {
        margin-top: 2rem;

        p {
            font-size: 1.1rem;
            text-align: center;
        }
    }
}