#nosotros {
    scroll-margin-top: 7.5em;
}

.nosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;

    .title1Nos {
        font-size: 2.7rem;
        font-family: 'Audiowide', cursive;
    }

    h2 {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

.pNos {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 4rem;
    width: 60%;
    text-align: center;
    box-shadow: 3px 3px 3px #2e070c;

    p {
        color: white;
    }
}


.contNos {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



    .member {
        margin: 1.5rem;
    }

    .polygon1 {
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 16%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 16%);
        width: 28rem;
        height: 32rem;
        background-color: gray;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }

        .img3 {
            margin-top: 5rem;
        }


    }

    .polygon2 {
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 60%, 80% 100%, 20% 100%, 0 60%, 0 0);
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 60%, 80% 100%, 20% 100%, 0 60%, 0 0);
        width: 28rem;
        height: 11rem;
        background: linear-gradient(to bottom, #000000, #2e070c);

        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
            font-size: 2.3rem;
            color: white;
            margin-top: 0.8rem;
        }

        p {
            font-size: 1.5rem;
            text-align: center;
            font-weight: 300;
            margin-top: 1rem;
        }

    }
}